useDynLib("civecm")

# functions
export(betaNorm, boot, CIModelFrame, eigen, I1gls, testLagLength, lag.default, largeres, LaTeX, restrictAlpha, restrictBeta, restrictLongRun, restrictTau, testARCH, testAutocor, testExclude, testNormal, testResiduals, testStationary, testUnit, testWeakexo, tracetest, VAR, VECM)

importFrom(stats, anova, logLik, residuals, rstandard, simulate)

S3method(anova, I1)
S3method(betaNorm, default)
S3method(betaNorm, I1)
S3method(eigen, matrix)
S3method(eigen, I1)
S3method(LaTeX, matrix)
S3method(LaTeX, data.frame)
S3method(LaTeX, autotest.I1)
S3method(logLik, I1)
S3method(print, I1gls)
S3method(print, I1)
S3method(print, I2)
S3method(print, summary.I1)
S3method(print, summary.I2)
S3method(print, autotest.I1)
S3method(print, eigenCompanion)
S3method(print, tracetest.I1)
S3method(print, tracetest.I2)
S3method(plot, I1)
S3method(plot, I2)
S3method(plot, eigenCompanion)
S3method(residuals, I1)
S3method(rstandard, I1)
S3method(simulate, I1)
S3method(simulate, I2)
S3method(summary, I1)
S3method(summary, I2)
S3method(tracetest, I1)
S3method(tracetest, I2)
S3method(update, I1)
S3method(VAR, I1)
S3method(VAR, I2)
